:root {
    --primary-color: #5c91fe;;
    --primary-color-darker: rgb(17, 31, 34);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* SIDEBAR  */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar-active {
    width: 300px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar-active .logo_content .logo {
    opacity: 1;
    transition: all 0.5s ease;
}

.logo_content .logo i {
    font-size: 22px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 18px;
    padding-left: 25px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.sidebar #btn:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar-active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
    padding-left: 0;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 20px;
    border-radius: 12px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0%;
    transform: translateY(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar-active ul li .tooltip {
    display: none;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar-active .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

.sidebar .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar-active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    color: #fff;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.profile #log_out:hover {
    color: #11101d;
    background: #fff;
}

.sidebar-active .profile #log_out {
    left: 88%;
}

.sidebar-active ~ .container-equipments {
    width: calc(100% - 300px);
    left: 300px;
}
/* -- SIDEBAR -- */

.container-equipments {
    max-width: 850px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    width: 500px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.navbar {
    padding: 10px;
}
.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}

.advanced {
    color: #00838f !important;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f;
}

/* Navbar */
.nav-link{
    margin: 0 auto;
}

.navbar .navbar-brand:hover {
    opacity: 0.5;
}

.navbar-collapse {
    text-align: center;
}

.navbar-toggler {
    margin: 1em auto;
}

.search-form {
    margin-top: 2em;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.no-equipments {
    margin: 1em auto;
}

/* -- Navbar -- */

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
    height: 62px;   
    cursor: pointer;
    margin-top: 30px;
    text-transform: uppercase;
}

form button:hover {
    background: var(--primary-color-darker);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Login Container */
.login-container {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.login-container h1 {
    font-size: 30px;
}

.login-container a {
    text-decoration: none;
}
/* -- Login Container -- */

/* Login Form */
.login-form {
    width: 100%;
    padding: 15px;
}

.login-form input {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    height: 62px;
    padding: 0 20px 0 38px;
}

.login-form button {
    background-color: var(--primary-color);
    color: #e6e6e6;
    font-weight: 700;
}

.login-form button:hover {
    color: #e6e6e6;
}
/* -- Login Form -- */

/* Page 404 */
.pageNotFound {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10em;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.pageNotFound h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
}

.pageNotFound h2 {
    padding: 15px 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.pageNotFound p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.pageNotFound a {
    font-family: "Titillium Web", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.pageNotFound a:hover {
    opacity: 0.8;
}
/* -- PageNotFound -- */

/* Messages Alert */
.messages-alert {
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 18px;
    height: 62px;
    text-align: center;
}


@media only screen and (max-width: 767px) {
    .pageNotFound {
        height: 110px;
        line-height: 25px;
    }
    .pageNotFound h1 {
        font-size: 120px;
    }
}

/* //Page 404 */
