:root {
    --primary-color: #5c91fe;;
    --primary-color-darker: rgb(17, 31, 34);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    font-size: 1em;
    line-height: 1em;
}


.container-equipments {
    max-width: 850px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    padding: 10px;
}
.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}

.advanced {
    color: #00838f !important;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f;
}

/* Navbar */
.navbar {
    width: 100%;
    line-height: 1.2;
    font-size: 18px;
    height: 62px;
}

.navbar .navbar-brand:hover {
    opacity: 0.5;
}
/* -- Navbar -- */

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
    height: 62px;   
    cursor: pointer;
    margin-top: 30px;
    text-transform: uppercase;
}

form button:hover {
    background: var(--primary-color-darker);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Login Container */
.login-container {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.login-container h1 {
    font-size: 30px;
}

.login-container a {
    text-decoration: none;
}
/* -- Login Container -- */

/* Login Form */
.login-form {
    width: 100%;
    padding: 15px;
}

.login-form input {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    height: 62px;
    padding: 0 20px 0 38px;
}

.login-form button {
    background-color: var(--primary-color);
    color: #e6e6e6;
    font-weight: 700;
}

.login-form button:hover {
    color: #e6e6e6;
}
/* -- Login Form -- */

/* Page 404 */
.pageNotFound {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10em;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.pageNotFound h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
}

.pageNotFound h2 {
    padding: 15px 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.pageNotFound p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.pageNotFound a {
    font-family: "Titillium Web", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.pageNotFound a:hover {
    opacity: 0.8;
}
/* -- PageNotFound -- */

/* Messages Alert */
.messages-alert {
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 18px;
    height: 62px;
    text-align: center;
}


@media only screen and (max-width: 767px) {
    .pageNotFound {
        height: 110px;
        line-height: 25px;
    }
    .pageNotFound h1 {
        font-size: 120px;
    }
}

/* //Page 404 */
