<!-- page breadcrumb -->
<div class="page-breadcrumb">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        </ol>
    </nav>
    <hr>
</div> 
<!-- // page breadcrumb -->