
    </body> 
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/jquery/jquery-3.6.0.min.js"></script>
    <script src="/assets/jquery/jquery.mask.min.js"></script>
    <script src="/assets/jquery/jquery.dataTables.min.js"></script>

    <!-- Webpack Bundle  -->
    <script type="module" src="/assets/js/utils.js"></script>
    
</html>