<div class="sidebar ">
    <div class="logo_content">
        <div class="logo">
            <div class="logo_name">Equipment Manager</div>
        </div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/">
                <i class='bx bxs-home'></i>
                <span class="links_name">P치gina Inicial</span>
            </a>
            <span class="tooltip">P치gina Inicial</span>
        </li>
        <li>
            <a href="">
                <i class='bx bx-user' ></i>
                <span class="links_name">Usu치rio</span>
            </a>
            <span class="tooltip">Usu치rio</span>
        </li>
        <li>
            <a href="/equipment/index">
                <i class='bx bx-plus'></i>
                <span class="links_name">Adicionar Equipamento</span>
            </a>
            <span class="tooltip">Adicionar Equipamento</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="/assets/img/profile-user.png" alt="User Profile">
                <div class="name_job">
                    <div class="name">Wallyson Pablo</div>
                    <div class="job">Estudante</div>
                </div>
            </div>
            <a href="/login/logout">
                <i class='bx bx-log-out' id="log_out" ></i>
            </a>
            <span class="tooltip">Deslogar</span>
        </div>
    </div>
</div>