<%- include('includes/head'); %>

<div class="container">
    <div class="row">
        <h1 class=" text-center">Equipments</h1>
        <p class="text-center lead">Seus Equipments estão abaixo</p>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tombo</th>
                <th scope="col">Equipamento</th>
                <th scope="col">Setor</th>
                <th scope="col">Empresa</th>
                <th scope="col">Observação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">190452</th>
                <td>Gabinete</td>
                <td>PAD</td>
                <td>PMJN</td>
                <td>Com defeito</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>PMJN</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<%- include('includes/footer'); %>