<%- include('includes/head'); %>

<div class="container login-container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="my-3 login-form">
            <h1 class="text-center text-uppercase"><b>Login</b></h1>
            <p class="text-center lead">Faça login abaixo para entrar no sistema</p>

            <%- include('includes/messages'); %>

            <div class="row">
                <div class="col-lg my-3">
                    <form class="form-signin" action="/token" method="post">

                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                        <input
                          type="email"
                          name="email"
                          id="inputEmail"
                          class="form-control"
                          placeholder="Endereço de email"
                          required
                          autofocus
                        />

                        <input
                          type="password"
                          name="password"
                          id="inputPassword"
                          class="form-control"
                          placeholder="Senha"
                          required
                        />
                        <div class="checkbox mb-3">
                          <label> <a href="#"> Esqueci a Senha</a></label>
                        </div>
                        <button class="btn btn-lg btn-block" type="submit">
                          Login
                        </button>
                        <p class="mt-5 mb-3 text-muted text-center">&copy; wpaq 2022</p>
                      </form>
                </div>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>
