<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <h1 class="text-center">Logado</h1>
        <p class="text-center lead">Você está logado!</p>

    </div>
</div>

<%- include('includes/footer'); %>
