<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="/assets/js/bundle.js"></script>
    <title>Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-laptop' ></i>
                <div class="logo_name">Equipment Manager</div>
            </div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
                <!-- <span class="tooltip"></span> -->
            </li>
            <li>
                <a href="">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <!-- <span class="tooltip"></span> -->
            </li>
            <li>
                <a href="">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">User</span>
                </a>
                <!-- <span class="tooltip"></span> -->
            </li>
            <li>
                <a href="">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <!-- <span class="tooltip"></span> -->
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="" alt="">
                    <div class="name_job">
                        <div class="name">Wallyson Pablo</div>
                        <div class="job">Estudante</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" ></i>
            </div>
        </div>
    </div>
</body>
</html>